<nav class="navbar navbar-toggleable-md navbar-default navbar-inverse bg-primary">
  <a class="navbar-brand" href="/"><img src="assets/img/rubic-cube.gif" class="brand-icon"></a>
  <ul class="nav navbar-nav mr-auto">
    <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
    <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/dashboard"><i class="fa fa-dashboard" aria-hidden="true"></i>Dashboard</a></li>
    <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/about"><i class="fa fa-info" aria-hidden="true"></i>About</a></li>
  </ul>
  <ul class="nav navbar-nav justify-content-end">
    <li><a routerLinkActive="active" href="#" (click)="authService.login()" *ngIf="!authService.authenticated()"><i class="fa fa-unlock" aria-hidden="true"></i>Login</a></li>
    <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/profile" *ngIf="authService.authenticated()"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>    
    <li><a routerLinkActive="active" href="#" (click)="authService.logout()" *ngIf="authService.authenticated()"><i class="fa fa-lock" aria-hidden="true"></i>Logout</a></li>
  </ul>
</nav>